body{
  /*background: gray;*/
  background: orchid;
  background-repeat:no-repeat;
}

div{
  background: rgb(115, 0, 255);
  border: rgb(255, 255, 255);
  border-width: thick; /* 10 px */
  border-style: dotted;

  }

p{
  color: yellow;
}
span{
  color: rgb(255, 255, 255);
}