body{
  /*background: white;*/
  background: rgb(255, 255, 255);
  background-repeat:no-repeat;
}

.head{
text-align: center;
  background: rgb(82, 0, 0);
  border: rgb(255, 0, 0);
  border-width: thick; /* 3 px */
  border-style: dashed;
  color: antiquewhite;
font-family: 'Times New Roman', Times, serif;
  }

  .list1{
    background-color: rgb(255, 0, 0);
  }
.list2{
    background-color: rgb(255, 145, 0);
  }
  .list3{
    background-color: rgb(9, 255, 0);
    font-size: xx-small;
  }
  .list4{
    background-color: rgb(0, 72, 255);
  }
  .list5{
    background-color: rgb(153, 0, 255);
  }
  .list6{
    background-color: rgb(255, 0, 230);
  }
#backstyle{
  color: darkviolet;
  border: solid 3px mediumorchid;
  font-size: larger;
}
